.register{
    background-image: url(../IMAGE/Index/Thiết\ kế\ không\ tên.png) ;
    text-align: center;
    width: 500px;
    height: 350px;
    margin-left: 400px;
}
button{
    font-size: 20px;
    color: black;
    background-color:rgb(105, 183, 247);
    border-radius: 25px;
    cursor: pointer;
}
.RegisterHere>input{
    border-bottom: 1px solid #fff;
}
