/* css nav*/
nav{
    background-color: lightblue;
    width: 75%;
    margin-left: 200px;
}
ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 60px;
}
ul.nav > li{
    border-right: 1px solid darkblue ;
    min-width: 100px;
    text-align: center;
}
ul.nav > li:last-child{
    border-right: none;
}
ul.nav > li >a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    margin-top: 10px;
}
ul.nav > li >a:hover{
    background-color:#7fdbef;
}
ul.nav > .search-box{
    padding: 10px;
    margin-right: 35%;
    margin-left: 5%;
    width: 200px;
    float: left;
    border: 1px solid lightblue; 
    clear: both;
    display: flex;
    height: 25px;
}
.search-box>a>img{
    top: 20px;
    margin-left: 20px; 
}
.search-box>#searchkeyword{
    border: none;   
}
.logo>h1>a>img{
    width: 130px;
    height: 60px;
    margin: 0;
    padding: 0;
    margin-top: -20px;
}
.menu{
    background-color: lightblue;
    width: 75%;
    margin-left: 200px;
}
header>button{
    width: 40px;
    height: 40px;
    top: 570px;
    right: 50px;
    position: fixed;
}
ul.item{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 60px;
    margin-top: 5px;
}
.submenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 60px;
    margin-top: 20px;
}
#content> h2{
    color: red;
    border: solid 1px lightblue;
    border-radius: 10px 20px 0 5px;
    width: 150px; 
    text-align: center;
    margin-left: 100px;
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 0;
}
div.line{
    width: 80%;
    height: 5px;
    background-color: lightblue;
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.submenu .subcontent{
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 10%;
    width: 100px;
   margin-top: 10px;
    
}
.submenu:hover .subcontent{
    display: block;
}
ul.item >li{
    border-right: 1px solid darkblue ;
    min-width: 100px;
    text-align: center;
}
ul.item > li:last-child{
    border-right: none;
}
ul.item >li >a{
    text-decoration: none;
    padding: 10px 45px;
    display: block;
    margin-top: 10px;
}
.Midpage{
  padding-left: 100px;
}
.News p.img{
    float: left;
    width: 241px;
    height: 320px;
}
.News>p{
    margin-left: 100px;
    margin-top: 20px;
    
}
.News div{
    float: inherit;
    left: 100px;
    max-width: fit-content;
}
#news{
    margin-left: 120px;
    float: left;
}
.News h3>a{
    font-size: 20px;
    color: blue;
}
#small > h3{
    padding-top: 10px;
    color: white;
}
#small>p{
    size: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}
.News{
    margin-top: 50px;
}
#content ul.thumbList{
    clear: both;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    border: solid 1px #7fdbef;  
    margin-left: 120px;
}
#news-content{
    height: 200px;
    margin-left: 30px;
    padding-left: 20px;
    width: 800px;
}
.video{
   margin-left: 40%;
   margin-bottom: 20%;
   
}
#slidebar{
    float: right;
    width: 200px;
}
.thumbList li{
    margin-right: 40px; 
    width: 200px;
}
.thumbList li.last{
    margin-right: 10px;
}
.listNews{
    clear: both;
    margin-left: 120px;
    padding: 10px 10px;
    width: 740px;
    float: left;
}
.listNews dd{
    border-bottom: 1px dotted #000 ;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.listNews dd.last{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.listNews p{
    margin-top: 20px;
}
.listNews .banner{
    margin-top: 20px;
    padding-bottom: 30px;
}
#slidebar{
    border: 1px solid rgb(34, 142, 243);
    margin-top: -2700px;
    margin-right: 120px;
    margin-left: 30px;
}
#slidebar h2{
    font-size: 20px;
    margin-top: -1px;
    border: 1px solid  rgb(34, 142, 243);
    background-color:  rgb(34, 142, 243);
    text-align: center;
}
#slidebar li{
    margin-bottom: 20px;
    margin-left: 20px;
}
#slidebar li p{
    display: inline;
}
#slidebar li img{
    float: left;
    clear: both;
}
#slidebar .Relatednews{
    padding-top: 10px;
    
}
#slidebar .Relatednews li{
    padding-bottom: 20px;
}
ul.Relatednews {
    padding-left: 5px;
}
footer{
    padding-left: 100px;
    clear: both;
    margin-left: 130px;
    display: flex;
    margin-bottom: 50px;
}
.fleft{
    margin-right: 150px;
}
.fright>a{
    font-size: 30px;
    border-radius: 10px; 
}  


